<footer class="bg-gray-100 text-black p-6 mt-10 bottom-0 w-full">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center gap-8">
    <div class="flex items-center gap-3">
      <img ngSrc="/assets/images/badgelo.png" alt="Badgelo Logo" width="48" height="48" class="rounded" />
      <div>
        <h2 class="text-lg font-bold">{{ 'FOOTER.NAME' | translate }}</h2>
        <p class="text-sm text-gray-600">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
      </div>
    </div>
    <div class="flex space-x-6">
      <a href="#" class="text-gray-800 hover:text-black text-sm">{{ 'FOOTER.ABOUT_US' | translate }}</a>
      <a href="#" class="text-gray-800 hover:text-black text-sm">{{ 'FOOTER.CONTACT' | translate }}</a>
      <a href="#" class="text-gray-800 hover:text-black text-sm">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
    </div>
  </div>
</footer>