<footer class="bg-gray-100 text-black p-6 mt-10 bottom-0 w-full">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="mb-4 md:mb-0">
      <h2 class="text-lg font-bold">Badgelo</h2>
      <p class="text-sm">© 2026 Badgelo. All rights reserved. Developped by MJ Tchoupe</p>
    </div>
    <div class="flex space-x-6">
      <a href="#" class="text-gray-800 hover:text-black text-sm">About Us</a>
      <a href="#" class="text-gray-800 hover:text-black text-sm">Contact</a>
      <a href="#" class="text-gray-800 hover:text-black text-sm">Privacy Policy</a>
    </div>
  </div>
</footer>