<!-- barre de navigation avec logo meenu et bouttons de connexions --> 
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white font-bold text-xl uppercase hover:cursor-pointer">
      <a href="#" routerLink="/">Badgelo</a>
         
    </div>
    <div class="space-x-4">
        <a href="#" class="text-gray-300 hover:text-white">Home</a>
        <a href="#" class="text-gray-300 hover:text-white">Features</a>
      <a href="#" class="text-gray-300 hover:text-white">Pricing</a>
      <a href="#" class="text-gray-300 hover:text-white">Login</a>
    </div>
    <div>
      <button class="bg-purple-700 text-white px-4 py-2 rounded hover:bg-purple-500 ml-2 cursor-pointer">Sign Up</button>
    </div>
    </div>
</nav>